<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<body class="max-2xl:">
    <header class="text-gray-600 py-2.5 mb-25 bg-gray-500 border-y-current bg-opacity-95 shadow-sm tracking-normal duration-100">
        <div class="container mx-auto flex flex-wrap px-10 flex-col md:flex-row items-center">
            <a href="{% url "home" %}" class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
                <span class="ml-6 text-xl text-amber-50">MyLink</span>
            </a>
            <nav class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-400 flex flext-wrap items-center text-base justify-center">
                <a href="{% url "home" %}" class="mr-5 hover:text-amber-900 text-amber-50">All Links</a>
            </nav>
            <a href="{% url "create-link" %}">
                <button class="inline-flex items-center bg-blue-100 border-0 py-2 px-5 focus:outline-none hover:bg-blue-200 rounded text-base mt-4 md:mt-0">Add Link
                    <svg xmlns="https://www.w3.org/2000/scg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd" />
                    </svg>
                </button>
            </a>
    
        </div>
    </header>
    <div>
        {% block content %}
        {% endblock content %}
    </div>
    <!-- <header class="fixed top-0 left-0 w-full bg-white bg-opacity-95 shadow-sm transition-all duration-300">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 flex justify-between items-center h-16">
    <h1 class="text-xl font-bold text-gray-800">My Website</h1>
    <nav class="space-x-4">
      <a href="#" class="text-gray-600 hover:text-gray-900">Home</a>
      <a href="#" class="text-gray-600 hover:text-gray-900">About</a>
      <a href="#" class="text-gray-600 hover:text-gray-900">Contact</a>
    </nav>
  </div>
</header> -->

    
</body>
</html>